@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: -2;
  padding: 0;
  color:white;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
ul{
    background-color: silver;
    border-radius: 100px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 9px 5px 0px #00000017;
}
li a{
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    color: black;
}
li:hover a{
    color: cornflowerblue;
}
nav{
    position: relative;
}
.icon{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: -80px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    background-image:url(rew/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    box-shadow: 0px 0px 17px 0px #00000017;
    transition: 0.5s ease transform;
}
.icon.close{
    transform: translateY(-50%) rotate(360deg);
    background-image: url(rew/cancel.png);
}
ul{
    width: 0px;
    overflow: hidden;
    transform: translateX(100px);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
    padding: 20px;
}
nav.show ul{
    width: 1000px;
    transform: translate(0px);
    opacity: 1;
    pointer-events: all;
}
nav{
    position: absolute;
    top: 10px;
    right: 100px;
}

@media only screen and (max-width: 768px){
    body{
        font-size: 14px;
    }
    li a{
        padding: 5px 10px;
    }
    nav ul{
        padding: 15px;
    
    }
    nav.show ul{
        width: 260px;
    }
    .icon{
        width: 45px;
        height: 45px;
        right: -50px;
    }
    nav{
        top: 10px;
        right: 60px;
    }
}
.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}


footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 8px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}